services:
  # Backend service
  - type: web
    name: luxemarket-api
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        value: mongodb+srv://arockiadassvinith_db_user:<db_password>@cluster0.cu0xi4b.mongodb.net/?appName=Cluster0
      - key: JWT_SECRET
        value: LuxeMarket_Secure_JWT_Secret_2026_!@#$
      - key: NODE_ENV
        value: production
